@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@700&family=Courier+Prime&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  height: 100vh;
  background-image: url(./img/twinkle.gif);
  background-size: cover;
}

#hud {
  @apply hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

#mapScreen {
  @apply pt-12 px-6 pb-0 absolute top-0 left-0 w-full h-full;

  position: relative;
  flex-grow: 1;
  display: grid;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  grid-template-areas: ". p1 . p2 ." "p3 . p5 . p4" ". . p6 . .";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
}
#planet-splash {
  @apply absolute w-full h-full z-0 flex flex-col;
}
#planet-info {
  @apply flex flex-col self-end flex-grow z-20 justify-end mx-6 w-full h-1/2;
}

#rep {
  @apply flex flex-col text-center self-start z-30 h-1/2 mx-auto my-0;
}
#rep img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.repName {
  @apply mt-2 text-sm uppercase p-1 text-neutral-50 text-center;
}

.repImage {
  @apply mx-auto justify-center;
}

.passage-choices {
  @apply flex flex-row justify-between;
}

.passage-choices span {
  @apply block font-bold cursor-pointer hover:text-neutral-950 text-neutral-800;
}

.active-turn img {
  filter: drop-shadow(0 0 15px rgba(255, 215, 0, 0.6));
  animation: pulseGlow 3s infinite;
}
.planet-container.active-turn::before {
  @apply text-4xl text-yellow-400 z-50;
  content: "!";
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.planet-container.active-turn::before {
  @apply text-4xl text-yellow-400 z-50;
  content: "!";
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1s infinite;
}

body.crisis #weekPreamble {
  @apply bg-black w-full h-full text-green-500 flex flex-col justify-center items-center;
}
@keyframes pulseGlow {
  0%,
  100% {
    filter: drop-shadow(0 0 35px rgba(255, 215, 0, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 25px rgba(255, 215, 0, 0.8));
  }
}
#ui {
  @apply flex flex-row justify-between h-full;
}
#ui #playerScreen {
  @apply w-64 bg-neutral-900 text-neutral-100 p-6;
}
#ui #playerInfo {
  @apply mt-12;
}
#passageContainer {
  @apply content-end justify-end flex-col p-6 overflow-y-auto bg-neutral-100 bg-opacity-75 rounded-t-2xl h-1/2 w-full md:w-2/3 mx-auto;
}
#hud #passageContainer #passage {
  @apply prose prose-xl prose-neutral;
}
#hud #planetName {
  @apply text-3xl md:text-6xl text-neutral-200 font-display uppercase w-full md:w-2/3 mx-auto;
}
#hud #planetContent {
  @apply w-full md:w-2/3 mx-auto;
}
#hud #passageContainer #passage p {
  @apply mt-0;
}
#hud.player-screen #passageContainer {
  @apply mr-0 flex-col p-6 overflow-y-auto bg-neutral-900 rounded-2xl h-full w-full text-neutral-200;
}

#hud.player-screen #passageContainer > * {
  @apply mb-4 text-neutral-200;
}
#hud.player-screen #passageContainer #passage h2 {
  @apply text-2xl font-bold text-neutral-50 mb-4 mt-0;
}
#hud.player-screen #passageContainer #passage {
  @apply prose prose-xl prose-neutral prose-invert;
}
#hud.player-screen #passageContainer #passage p {
  @apply text-base text-neutral-200 mb-4;
}

#hud.player-screen #passageContainer #passage pre {
  @apply font-mono text-base text-neutral-200;
}

#hud.player-screen #rep {
  @apply hidden;
}

body.map {
  padding: 0;
  overflow: hidden;
  background-image: url(./img/twinkle.gif);
  background-size: cover;
}

body.customization h1 {
  @apply text-4xl font-bold text-neutral-100;
}

tw-story {
  max-width: 100vw;
  line-height: normal;
}

div[data-next],
.passage-choices span > * {
  @apply underline font-bold cursor-pointer hover:text-neutral-950 text-neutral-800;
}

.energy-change-text {
  opacity: 0;
  transition: opacity 2s, transform 2s;
  pointer-events: none;
  z-index: 10;
}

.tooltip {
  @apply z-50;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -10px);
  white-space: nowrap;
}

.planet {
  @apply z-40 max-h-40;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.planet-container {
  position: relative;
  display: flex;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  justify-self: center;
  max-height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
}

.planet:hover {
  transform: scale(1.1);
}

.planet-container0 {
  grid-area: p1;
}
.planet-container1 {
  grid-area: p2;
}
.planet-container2 {
  grid-area: p3;
}
.planet-container3 {
  grid-area: p4;
}
.planet-container4 {
  grid-area: p5;
}
.planet-container-player {
  grid-area: p6;
}

.inactive {
  @apply opacity-25 pointer-events-none;
}

.next-turn-message {
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-opacity-90 px-4 py-2 border border-gray-300 shadow rounded-lg text-center bg-white z-50;
}

#sidebar ul {
  @apply p-0 list-none;
}

#sidebar li {
  @apply text-sm px-0 py-2 border-b-neutral-300 cursor-pointer;
}

#sidebar li:hover {
  background-color: #555;
}

#tooltips {
  @apply absolute top-0 left-0 z-50 w-full h-full pointer-events-none;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  @apply absolute font-mono whitespace-nowrap bg-black text-neutral-300 px-2 py-1 text-lg rounded-md;
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translate(-50%, -10px);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

button {
  @apply cursor-pointer rounded-full bg-neutral-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-neutral-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-600;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.customization-form label {
  @apply text-green-300 leading-none text-sm;
}

.customization-form div {
}

.customization-text-input {
  @apply block mb-4 w-full rounded-md border-0 py-1.5 text-green-400 shadow-sm ring-1 ring-inset ring-green-300 placeholder:text-green-500 focus:ring-2 focus:ring-inset focus:ring-green-600 bg-transparent sm:text-sm sm:leading-6;
}

.customization-textarea {
  @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-neutral-600 sm:text-sm sm:leading-6;
}

#weekPreamble {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.circle-container {
  @apply absolute z-30 h-40 w-40;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: blue;
  width: 100%;
  height: 100%;
  animation: radiate 2s infinite;
  opacity: 0;
}

@keyframes radiate {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

#overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-40;
}
.help-icon {
  position: absolute;
  top: -10px; /* Adjust as needed */
  right: 50%;
  transform: translateX(50%);
  font-size: 20px; /* Adjust size as needed */
  color: red; /* Or any color you prefer */
}
#backToMap {
  @apply z-50 text-neutral-100 absolute top-6 right-6 uppercase  text-base cursor-pointer;
}

.device-wrapper {
  @apply p-12 flex justify-center h-screen w-screen;
  background: url(./img/device.png) no-repeat center center fixed;
  .device {
    @apply text-green-500 w-96 h-[560px] mt-[200px] px-12 font-mono text-lg overflow-y-scroll overflow-x-hidden;
    p {
      @apply mb-4 block;
      text-shadow: 0 0 15px 8px rgba(153, 153, 255, 0.2);
      a {
        @apply text-green-400;
        &:hover {
          @apply text-green-300 underline;
        }
      }
    }
  }
}

#startScreen {
  @apply flex justify-center items-center h-screen w-screen;
  #startButton {
    @apply bg-slate-400 text-black px-8 py-4 rounded-md text-7xl font-bold font-display uppercase cursor-pointer;
    &:hover {
      @apply bg-slate-300;
    }
    a {
      @apply text-black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
a {
  color: currentColor;
  text-decoration-color: currentColor;
  &:hover {
    color: currentColor;
    @apply underline;
  }
}
.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  z-index: 1000;
  pointer-events: none;
  transition: opacity 1s ease;
}
