body,
html {
  margin: 0;
  height: 100%; /* Full height */
  overflow: hidden; /* Prevent body scrolling */
}

#hud {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  z-index: 100;
}

#mapScreen {
  background-image: url(./img/twinkle.gif);
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  flex-grow: 1;
  display: grid;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  grid-template-areas:
    ". p1 . p2 ."
    "p3 . . . p4"
    ". . p5 . ."
    "p6 . . . p7";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
#planet-info {
  display: flex;
  flex-direction: column;
  align-self: end;
}
#rep {
  display: flex;
  align-items: end;
  justify-content: end;
}

.repImage {
  width: 100px;

  margin-bottom: -2rem;
}
#passageContainer {
  justify-self: end;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  /* max-width: 50vw; */
  max-height: 33vh;
  overflow-y: auto;
  width: 100%;
}

#sidebar {
  height: 100vh;
  width: 30vw;
  min-width: 300px;
  background-color: #333;
  color: white;
  padding: 20px;
  overflow-y: auto;
  justify-self: end;
  align-items: end;
  justify-items: end;
}

body[data-tags~="map-screen"] {
  padding: 0;
}
tw-story {
  max-width: 100vw;
  line-height: normal;
}

.planet {
  width: 100px; /* Adjust based on your preference */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.planet:hover {
  transform: scale(1.1);
}

.planet1 {
  grid-area: p1;
}
.planet2 {
  grid-area: p2;
}
.planet3 {
  grid-area: p3;
}
.planet4 {
  grid-area: p4;
}
.planet5 {
  grid-area: p5;
}
.planet6 {
  grid-area: p6;
}
.planet7 {
  grid-area: p7;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  font-size: 0.75rem;
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

#sidebar li:hover {
  background-color: #555;
}
